In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [43]:
x = pd.read_csv('refined_x.csv')
y = pd.read_csv('refined_y.csv')

In [44]:
x.head()

,Unnamed: 0,timestamp,airpressure,airtemp,specific_humidity,windspeed,time,updated_date,hour,min,time_updated,updated_timestamp
0,0,2015-12-31 00:00:00,84055.0703,274.887909,0.000971,2.769442,00:00:00,12-31-2015,0,0,00:00,12-31-2015 00:00
1,1,2015-12-31 03:00:00,84247.2344,277.503204,0.001098,2.950434,03:00:00,12-31-2015,3,0,03:00,12-31-2015 03:00
2,2,2015-12-31 06:00:00,84256.8281,288.390137,0.001060,1.049703,06:00:00,12-31-2015,6,0,06:00,12-31-2015 06:00
3,3,2015-12-31 09:00:00,84185.4141,288.949371,0.001141,1.993747,09:00:00,12-31-2015,9,0,09:00,12-31-2015 09:00
4,4,2015-12-31 12:00:00,84141.4141,277.850464,0.001479,1.554527,12:00:00,12-31-2015,12,0,12:00,12-31-2015 12:00

In [45]:
y.head()

   Unnamed: 0         timestamp  avg_rain   time        date updated_timestamp
0           0   12/31/2015 0:00       0.0   0:00  12-31-2015   12-31-2015 0:00
1           1   12/31/2015 3:00       0.0   3:00  12-31-2015   12-31-2015 3:00
2           2   12/31/2015 6:00       0.0   6:00  12-31-2015   12-31-2015 6:00
3           3   12/31/2015 9:00       0.0   9:00  12-31-2015   12-31-2015 9:00
4           4  12/31/2015 12:00       0.0  12:00  12-31-2015  12-31-2015 12:00

In [46]:

df = pd.merge(x, y, on='updated_timestamp', how='outer')
df.head()

df.to_csv('full_dataset.csv')

In [63]:
full_df = pd.read_csv('full_dataset.csv')
full_df

,Unnamed: 0,Unnamed: 0_x,timestamp_x,airpressure,airtemp,specific_humidity,windspeed,time_x,updated_date,hour,min,time_updated,updated_timestamp,Unnamed: 0_y,timestamp_y,avg_rain,time_y,date
0,0,0.0,2015-12-31 00:00:00,84055.0703,274.887909,0.000971,2.769442,00:00:00,12-31-2015,0.0,0.0,00:00,12-31-2015 00:00,NaN,NaN,NaN,NaN,NaN
1,1,1.0,2015-12-31 03:00:00,84247.2344,277.503204,0.001098,2.950434,03:00:00,12-31-2015,3.0,0.0,03:00,12-31-2015 03:00,NaN,NaN,NaN,NaN,NaN
2,2,2.0,2015-12-31 06:00:00,84256.8281,288.390137,0.001060,1.049703,06:00:00,12-31-2015,6.0,0.0,06:00,12-31-2015 06:00,NaN,NaN,NaN,NaN,NaN
3,3,3.0,2015-12-31 09:00:00,84185.4141,288.949371,0.001141,1.993747,09:00:00,12-31-2015,9.0,0.0,09:00,12-31-2015 09:00,NaN,NaN,NaN,NaN,NaN
4,4,4.0,2015-12-31 12:00:00,84141.4141,277.850464,0.001479,1.554527,12:00:00,12-31-2015,12.0,0.0,12:00,12-31-2015 12:00,4.0,12/31/2015 12:00,0.000000e+00,12:00,12-31-2015
5,5,5.0,2015-12-31 15:00:00,84274.5781,277.281494,0.001506,1.675666,15:00:00,12-31-2015,15.0,0.0,15:00,12-31-2015 15:00,5.0,12/31/2015 15:00,0.000000e+00,15:00,12-31-2015
6,6,6.0,2015-12-31 18:00:00,84153.1719,278.319336,0.001504,2.056827,18:00:00,12-31-2015,18.0,0.0,18:00,12-31-2015 18:00,6.0,12/31/2015 18:00,0.000000e+00,18:00,12-31-2015
7,7,7.0,2015-12-31 21:00:00,84088.6875,277.331177,0.001430,1.752135,21:00:00,12-31-2015,21.0,0.0,21:00,12-31-2015 21:00,7.0,12/31/2015 21:00,0.000000e+00,21:00,12-31-2015
8,8,8.0,2016-01-01 00:00:00,84080.2500,276.168121,0.001194,1.352436,00:00:00,01-01-2016,0.0,0.0,00:00,01-01-2016 00:00,8.0,01-01-2016 00:00,0.000000e+00,00:00,01-01-2016
9,9,9.0,2016-01-01 03:00:00,84233.2109,279.759460,0.001747,1.633569,03:00:00,01-01-2016,3.0,0.0,03:00,01-01-2016 03:00,9.0,01-01-2016 03:00,0.000000e+00,03:00,01-01-2016
10,10,10.0,2016-01-01 06:00:00,84268.0391,288.306488,0.001238,1.523540,06:00:00,01-01-2016,6.0,0.0,06:00,01-01-2016 06:00,10.0,01-01-2016 06:00,0.000000e+00,06:00,01-01-2016
11,11,11.0,2016-01-01 09:00:00,84144.5781,288.430725,0.001408,2.178107,09:00:00,01-01-2016,9.0,0.0,09:00,01-01-2016 09:00,11.0,01-01-2016 09:00,0.000000e+00,09:00,01-01-2016
12,12,12.0,2016-01-01 12:00:00,84146.8516,276.618866,0.001835,0.974976,12:00:00,01-01-2016,12.0,0.0,12:00,01-01-2016 12:00,12.0,01-01-2016 12:00,0.000000e+00,12:00,01-01-2016
13,13,13.0,2016-01-01 15:00:00,84298.4531,275.936127,0.001502,1.556562,15:00:00,01-01-2016,15.0,0.0,15:00,01-01-2016 15:00,13.0,01-01-2016 15:00,0.000000e+00,15:00,01-01-2016
14,14,14.0,2016-01-01 18:00:00,84266.4297,275.048553,0.001362,1.523776,18:00:00,01-01-2016,18.0,0.0,18:00,01-01-2016 18:00,14.0,01-01-2016 18:00,0.000000e+00,18:00,01-01-2016
15,15,15.0,2016-01-01 21:00:00,84256.3984,274.560547,0.001198,1.571205,21:00:00,01-01-2016,21.0,0.0,21:00,01-01-2016 21:00,15.0,01-01-2016 21:00,0.000000e+00,21:00,01-01-2016
16,16,16.0,2016-01-02 00:00:00,84183.7188,273.833313,0.001117,1.534263,00:00:00,01-02-2016,0.0,0.0,00:00,01-02-2016 00:00,16.0,01-02-2016 00:00,0.000000e+00,00:00,01-02-2016
17,17,17.0,2016-01-02 03:00:00,84289.2656,278.004395,0.001594,1.530071,03:00:00,01-02-2016,3.0,0.0,03:00,01-02-2016 03:00,17.0,01-02-2016 03:00,0.000000e+00,03:00,01-02-2016
18,18,18.0,2016-01-02 06:00:00,84233.6328,287.746613,0.001239,1.857945,06:00:00,01-02-2016,6.0,0.0,06:00,01-02-2016 06:00,18.0,01-02-2016 06:00,0.000000e+00,06:00,01-02-2016
19,19,19.0,2016-01-02 09:00:00,84103.2500,288.339111,0.001416,3.341607,09:00:00,01-02-2016,9.0,0.0,09:00,01-02-2016 09:00,19.0,01-02-2016 09:00,0.000000e+00,09:00,01-02-2016
20,20,20.0,2016-01-02 12:00:00,84020.7188,277.256348,0.001676,1.770953,12:00:00,01-02-2016,12.0,0.0,12:00,01-02-2016 12:00,20.0,01-02-2016 12:00,0.000000e+00,12:00,01-02-2016
21,21,21.0,2016-01-02 15:00:00,84111.4375,276.071564,0.001466,1.918594,15:00:00,01-02-2016,15.0,0.0,15:00,01-02-2016 15:00,21.0,01-02-2016 15:00,0.000000e+00,15:00,01-02-2016
22,22,22.0,2016-01-02 18:00:00,84041.7969,275.996399,0.001229,2.000742,18:00:00,01-02-2016,18.0,0.0,18:00,01-02-2016 18:00,22.0,01-02-2016 18:00,0.000000e+00,18:00,01-02-2016
23,23,23.0,2016-01-02 21:00:00,84029.2031,275.400513,0.001212,1.760879,21:00:00,01-02-2016,21.0,0.0,21:00,01-02-2016 21:00,23.0,01-02-2016 21:00,0.000000e+00,21:00,01-02-2016
24,24,24.0,2016-01-03 00:00:00,83884.8750,274.959656,0.001182,2.087593,00:00:00,01-03-2016,0.0,0.0,00:00,01-03-2016 00:00,24.0,01-03-2016 00:00,0.000000e+00,00:00,01-03-2016
25,25,25.0,2016-01-03 03:00:00,83999.5234,278.571136,0.001786,1.897006,03:00:00,01-03-2016,3.0,0.0,03:00,01-03-2016 03:00,25.0,01-03-2016 03:00,0.000000e+00,03:00,01-03-2016
26,26,26.0,2016-01-03 06:00:00,83971.9453,288.644897,0.001614,1.770555,06:00:00,01-03-2016,6.0,0.0,06:00,01-03-2016 06:00,26.0,01-03-2016 06:00,0.000000e+00,06:00,01-03-2016
27,27,27.0,2016-01-03 09:00:00,83829.3594,289.362610,0.001875,2.927510,09:00:00,01-03-2016,9.0,0.0,09:00,01-03-2016 09:00,27.0,01-03-2016 09:00,0.000000e+00,09:00,01-03-2016
28,28,28.0,2016-01-03 12:00:00,83826.3750,277.951447,0.002278,1.217267,12:00:00,01-03-2016,12.0,0.0,12:00,01-03-2016 12:00,28.0,01-03-2016 12:00,0.000000e+00,12:00,01-03-2016
29,29,29.0,2016-01-03 15:00:00,83947.8750,277.367676,0.002084,1.413525,15:00:00,01-03-2016,15.0,0.0,15:00,01-03-2016 15:00,29.0,01-03-2016 15:00,0.000000e+00,15:00,01-03-2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13390,13390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-24-2018 6:00,8714.0,12/24/2018 6:00,0.000000e+00,6:00,12-24-2018
13391,13391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-24-2018 9:00,8715.0,12/24/2018 9:00,0.000000e+00,9:00,12-24-2018
13392,13392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-25-2018 0:00,8720.0,12/25/2018 0:00,0.000000e+00,0:00,12-25-2018
13393,13393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-25-2018 3:00,8721.0,12/25/2018 3:00,0.000000e+00,3:00,12-25-2018
13394,13394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-25-2018 6:00,8722.0,12/25/2018 6:00,0.000000e+00,6:00,12-25-2018
13395,13395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-25-2018 9:00,8723.0,12/25/2018 9:00,0.000000e+00,9:00,12-25-2018
13396,13396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-26-2018 0:00,8728.0,12/26/2018 0:00,0.000000e+00,0:00,12-26-2018
13397,13397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-26-2018 3:00,8729.0,12/26/2018 3:00,0.000000e+00,3:00,12-26-2018
13398,13398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-26-2018 6:00,8730.0,12/26/2018 6:00,0.000000e+00,6:00,12-26-2018
13399,13399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-26-2018 9:00,8731.0,12/26/2018 9:00,0.000000e+00,9:00,12-26-2018
13400,13400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-27-2018 0:00,8736.0,12/27/2018 0:00,0.000000e+00,0:00,12-27-2018
13401,13401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-27-2018 3:00,8737.0,12/27/2018 3:00,0.000000e+00,3:00,12-27-2018
13402,13402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-27-2018 6:00,8738.0,12/27/2018 6:00,0.000000e+00,6:00,12-27-2018
13403,13403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-27-2018 9:00,8739.0,12/27/2018 9:00,0.000000e+00,9:00,12-27-2018
13404,13404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-28-2018 0:00,8744.0,12/28/2018 0:00,0.000000e+00,0:00,12-28-2018
13405,13405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-28-2018 3:00,8745.0,12/28/2018 3:00,0.000000e+00,3:00,12-28-2018
13406,13406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-28-2018 6:00,8746.0,12/28/2018 6:00,0.000000e+00,6:00,12-28-2018
13407,13407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-28-2018 9:00,8747.0,12/28/2018 9:00,0.000000e+00,9:00,12-28-2018
13408,13408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-29-2018 0:00,8752.0,12/29/2018 0:00,0.000000e+00,0:00,12-29-2018
13409,13409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-29-2018 3:00,8753.0,12/29/2018 3:00,0.000000e+00,3:00,12-29-2018
13410,13410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-29-2018 6:00,8754.0,12/29/2018 6:00,0.000000e+00,6:00,12-29-2018
13411,13411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-29-2018 9:00,8755.0,12/29/2018 9:00,0.000000e+00,9:00,12-29-2018
13412,13412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-30-2018 0:00,8760.0,12/30/2018 0:00,0.000000e+00,0:00,12-30-2018
13413,13413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-30-2018 3:00,8761.0,12/30/2018 3:00,0.000000e+00,3:00,12-30-2018
13414,13414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-30-2018 6:00,8762.0,12/30/2018 6:00,0.000000e+00,6:00,12-30-2018
13415,13415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-30-2018 9:00,8763.0,12/30/2018 9:00,1.190000e-07,9:00,12-30-2018
13416,13416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-31-2018 0:00,8768.0,12/31/2018 0:00,0.000000e+00,0:00,12-31-2018
13417,13417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-31-2018 3:00,8769.0,12/31/2018 3:00,0.000000e+00,3:00,12-31-2018
13418,13418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-31-2018 6:00,8770.0,12/31/2018 6:00,0.000000e+00,6:00,12-31-2018
13419,13419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-31-2018 9:00,8771.0,12/31/2018 9:00,0.000000e+00,9:00,12-31-2018

In [61]:
#full_df = full_df.drop(['Unnamed: 0','Unnamed: 0_x','timestamp_x','Unnamed: 0_y'],axis=1)
full_df

,airpressure,airtemp,specific_humidity,windspeed,updated_timestamp,avg_rain
0,84055.0703,274.887909,0.000971,2.769442,12-31-2015 00:00,NaN
1,84247.2344,277.503204,0.001098,2.950434,12-31-2015 03:00,NaN
2,84256.8281,288.390137,0.001060,1.049703,12-31-2015 06:00,NaN
3,84185.4141,288.949371,0.001141,1.993747,12-31-2015 09:00,NaN
4,84141.4141,277.850464,0.001479,1.554527,12-31-2015 12:00,0.000000e+00
5,84274.5781,277.281494,0.001506,1.675666,12-31-2015 15:00,0.000000e+00
6,84153.1719,278.319336,0.001504,2.056827,12-31-2015 18:00,0.000000e+00
7,84088.6875,277.331177,0.001430,1.752135,12-31-2015 21:00,0.000000e+00
8,84080.2500,276.168121,0.001194,1.352436,01-01-2016 00:00,0.000000e+00
9,84233.2109,279.759460,0.001747,1.633569,01-01-2016 03:00,0.000000e+00
10,84268.0391,288.306488,0.001238,1.523540,01-01-2016 06:00,0.000000e+00
11,84144.5781,288.430725,0.001408,2.178107,01-01-2016 09:00,0.000000e+00
12,84146.8516,276.618866,0.001835,0.974976,01-01-2016 12:00,0.000000e+00
13,84298.4531,275.936127,0.001502,1.556562,01-01-2016 15:00,0.000000e+00
14,84266.4297,275.048553,0.001362,1.523776,01-01-2016 18:00,0.000000e+00
15,84256.3984,274.560547,0.001198,1.571205,01-01-2016 21:00,0.000000e+00
16,84183.7188,273.833313,0.001117,1.534263,01-02-2016 00:00,0.000000e+00
17,84289.2656,278.004395,0.001594,1.530071,01-02-2016 03:00,0.000000e+00
18,84233.6328,287.746613,0.001239,1.857945,01-02-2016 06:00,0.000000e+00
19,84103.2500,288.339111,0.001416,3.341607,01-02-2016 09:00,0.000000e+00
20,84020.7188,277.256348,0.001676,1.770953,01-02-2016 12:00,0.000000e+00
21,84111.4375,276.071564,0.001466,1.918594,01-02-2016 15:00,0.000000e+00
22,84041.7969,275.996399,0.001229,2.000742,01-02-2016 18:00,0.000000e+00
23,84029.2031,275.400513,0.001212,1.760879,01-02-2016 21:00,0.000000e+00
24,83884.8750,274.959656,0.001182,2.087593,01-03-2016 00:00,0.000000e+00
25,83999.5234,278.571136,0.001786,1.897006,01-03-2016 03:00,0.000000e+00
26,83971.9453,288.644897,0.001614,1.770555,01-03-2016 06:00,0.000000e+00
27,83829.3594,289.362610,0.001875,2.927510,01-03-2016 09:00,0.000000e+00
28,83826.3750,277.951447,0.002278,1.217267,01-03-2016 12:00,0.000000e+00
29,83947.8750,277.367676,0.002084,1.413525,01-03-2016 15:00,0.000000e+00
...,...,...,...,...,...,...
13390,NaN,NaN,NaN,NaN,12-24-2018 6:00,0.000000e+00
13391,NaN,NaN,NaN,NaN,12-24-2018 9:00,0.000000e+00
13392,NaN,NaN,NaN,NaN,12-25-2018 0:00,0.000000e+00
13393,NaN,NaN,NaN,NaN,12-25-2018 3:00,0.000000e+00
13394,NaN,NaN,NaN,NaN,12-25-2018 6:00,0.000000e+00
13395,NaN,NaN,NaN,NaN,12-25-2018 9:00,0.000000e+00
13396,NaN,NaN,NaN,NaN,12-26-2018 0:00,0.000000e+00
13397,NaN,NaN,NaN,NaN,12-26-2018 3:00,0.000000e+00
13398,NaN,NaN,NaN,NaN,12-26-2018 6:00,0.000000e+00
13399,NaN,NaN,NaN,NaN,12-26-2018 9:00,0.000000e+00
13400,NaN,NaN,NaN,NaN,12-27-2018 0:00,0.000000e+00
13401,NaN,NaN,NaN,NaN,12-27-2018 3:00,0.000000e+00
13402,NaN,NaN,NaN,NaN,12-27-2018 6:00,0.000000e+00
13403,NaN,NaN,NaN,NaN,12-27-2018 9:00,0.000000e+00
13404,NaN,NaN,NaN,NaN,12-28-2018 0:00,0.000000e+00
13405,NaN,NaN,NaN,NaN,12-28-2018 3:00,0.000000e+00
13406,NaN,NaN,NaN,NaN,12-28-2018 6:00,0.000000e+00
13407,NaN,NaN,NaN,NaN,12-28-2018 9:00,0.000000e+00
13408,NaN,NaN,NaN,NaN,12-29-2018 0:00,0.000000e+00
13409,NaN,NaN,NaN,NaN,12-29-2018 3:00,0.000000e+00
13410,NaN,NaN,NaN,NaN,12-29-2018 6:00,0.000000e+00
13411,NaN,NaN,NaN,NaN,12-29-2018 9:00,0.000000e+00
13412,NaN,NaN,NaN,NaN,12-30-2018 0:00,0.000000e+00
13413,NaN,NaN,NaN,NaN,12-30-2018 3:00,0.000000e+00
13414,NaN,NaN,NaN,NaN,12-30-2018 6:00,0.000000e+00
13415,NaN,NaN,NaN,NaN,12-30-2018 9:00,1.190000e-07
13416,NaN,NaN,NaN,NaN,12-31-2018 0:00,0.000000e+00
13417,NaN,NaN,NaN,NaN,12-31-2018 3:00,0.000000e+00
13418,NaN,NaN,NaN,NaN,12-31-2018 6:00,0.000000e+00
13419,NaN,NaN,NaN,NaN,12-31-2018 9:00,0.000000e+00

In [49]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13420 entries, 0 to 13419
Data columns (total 14 columns):
airpressure          8776 non-null float64
airtemp              8776 non-null float64
specific_humidity    8776 non-null float64
windspeed            8776 non-null float64
time_x               8776 non-null object
updated_date         8776 non-null object
hour                 8776 non-null float64
min                  8776 non-null float64
time_updated         8776 non-null object
updated_timestamp    13420 non-null object
timestamp_y          8776 non-null object
avg_rain             8776 non-null float64
time_y               8776 non-null object
date                 8776 non-null object
dtypes: float64(7), object(7)
memory usage: 1.4+ MB

In [50]:

df_inner = pd.merge(x, y, on='updated_timestamp', how='inner')
df_inner.head()

#df.to_csv('full_dataset.csv')

,Unnamed: 0_x,timestamp_x,airpressure,airtemp,specific_humidity,windspeed,time_x,updated_date,hour,min,time_updated,updated_timestamp,Unnamed: 0_y,timestamp_y,avg_rain,time_y,date
0,4,2015-12-31 12:00:00,84141.4141,277.850464,0.001479,1.554527,12:00:00,12-31-2015,12,0,12:00,12-31-2015 12:00,4,12/31/2015 12:00,0.0,12:00,12-31-2015
1,5,2015-12-31 15:00:00,84274.5781,277.281494,0.001506,1.675666,15:00:00,12-31-2015,15,0,15:00,12-31-2015 15:00,5,12/31/2015 15:00,0.0,15:00,12-31-2015
2,6,2015-12-31 18:00:00,84153.1719,278.319336,0.001504,2.056827,18:00:00,12-31-2015,18,0,18:00,12-31-2015 18:00,6,12/31/2015 18:00,0.0,18:00,12-31-2015
3,7,2015-12-31 21:00:00,84088.6875,277.331177,0.001430,1.752135,21:00:00,12-31-2015,21,0,21:00,12-31-2015 21:00,7,12/31/2015 21:00,0.0,21:00,12-31-2015
4,8,2016-01-01 00:00:00,84080.2500,276.168121,0.001194,1.352436,00:00:00,01-01-2016,0,0,00:00,01-01-2016 00:00,8,01-01-2016 00:00,0.0,00:00,01-01-2016

In [53]:
full_df = full_df.drop(['time_x','updated_date','hour','min','time_updated','timestamp_y','time_y','date'],axis=1)
full_df.head()

,airpressure,airtemp,specific_humidity,windspeed,updated_timestamp,avg_rain
0,84055.0703,274.887909,0.000971,2.769442,12-31-2015 00:00,NaN
1,84247.2344,277.503204,0.001098,2.950434,12-31-2015 03:00,NaN
2,84256.8281,288.390137,0.001060,1.049703,12-31-2015 06:00,NaN
3,84185.4141,288.949371,0.001141,1.993747,12-31-2015 09:00,NaN
4,84141.4141,277.850464,0.001479,1.554527,12-31-2015 12:00,0.0

In [56]:
full_df.to_csv('refined_x_y.csv')

In [57]:
df_full = pd.read_csv('refined_x_y.csv')

df_full.head()

,Unnamed: 0,airpressure,airtemp,specific_humidity,windspeed,updated_timestamp,avg_rain
0,0,84055.0703,274.887909,0.000971,2.769442,12-31-2015 00:00,NaN
1,1,84247.2344,277.503204,0.001098,2.950434,12-31-2015 03:00,NaN
2,2,84256.8281,288.390137,0.001060,1.049703,12-31-2015 06:00,NaN
3,3,84185.4141,288.949371,0.001141,1.993747,12-31-2015 09:00,NaN
4,4,84141.4141,277.850464,0.001479,1.554527,12-31-2015 12:00,0.0

In [58]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13420 entries, 0 to 13419
Data columns (total 7 columns):
Unnamed: 0           13420 non-null int64
airpressure          8776 non-null float64
airtemp              8776 non-null float64
specific_humidity    8776 non-null float64
windspeed            8776 non-null float64
updated_timestamp    13420 non-null object
avg_rain             8776 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 734.0+ KB

In [59]:
df_full
df_full = df_full.drop('Unnamed: 0',axis=1)
df_full.head()

,airpressure,airtemp,specific_humidity,windspeed,updated_timestamp,avg_rain
0,84055.0703,274.887909,0.000971,2.769442,12-31-2015 00:00,NaN
1,84247.2344,277.503204,0.001098,2.950434,12-31-2015 03:00,NaN
2,84256.8281,288.390137,0.001060,1.049703,12-31-2015 06:00,NaN
3,84185.4141,288.949371,0.001141,1.993747,12-31-2015 09:00,NaN
4,84141.4141,277.850464,0.001479,1.554527,12-31-2015 12:00,0.0

After merging all the files, we have 4132 records for prediction