In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [7]:
air_precipitation = pd.read_csv('PRECIPITATIONnn.csv')

air_precipitation.head()

          timestamp  avg_rain
0   12/31/2015 0:00       0.0
1   12/31/2015 3:00       0.0
2   12/31/2015 6:00       0.0
3   12/31/2015 9:00       0.0
4  12/31/2015 12:00       0.0

In [8]:
air_precipitation['time']=air_precipitation['timestamp'].str.split(' ').str.get(1)
air_precipitation['time'].head()

0     0:00
1     3:00
2     6:00
3     9:00
4    12:00
Name: time, dtype: object

In [9]:
air_precipitation['date']=air_precipitation['timestamp'].str.split(' ').str.get(0)
air_precipitation['date'].head()

air_precipitation['date']=air_precipitation['date'].str.replace('/','-')
air_precipitation['date'].head()

air_precipitation.head()

          timestamp  avg_rain   time        date
0   12/31/2015 0:00       0.0   0:00  12-31-2015
1   12/31/2015 3:00       0.0   3:00  12-31-2015
2   12/31/2015 6:00       0.0   6:00  12-31-2015
3   12/31/2015 9:00       0.0   9:00  12-31-2015
4  12/31/2015 12:00       0.0  12:00  12-31-2015

In [11]:
air_precipitation['updated_timestamp'] = air_precipitation['date'] + ' ' + air_precipitation['time']

air_precipitation['updated_timestamp'].head()

air_precipitation.to_csv('refined_y.csv')
air_precipitation

             timestamp      avg_rain   time        date updated_timestamp
0      12/31/2015 0:00  0.000000e+00   0:00  12-31-2015   12-31-2015 0:00
1      12/31/2015 3:00  0.000000e+00   3:00  12-31-2015   12-31-2015 3:00
2      12/31/2015 6:00  0.000000e+00   6:00  12-31-2015   12-31-2015 6:00
3      12/31/2015 9:00  0.000000e+00   9:00  12-31-2015   12-31-2015 9:00
4     12/31/2015 12:00  0.000000e+00  12:00  12-31-2015  12-31-2015 12:00
5     12/31/2015 15:00  0.000000e+00  15:00  12-31-2015  12-31-2015 15:00
6     12/31/2015 18:00  0.000000e+00  18:00  12-31-2015  12-31-2015 18:00
7     12/31/2015 21:00  0.000000e+00  21:00  12-31-2015  12-31-2015 21:00
8     01-01-2016 00:00  0.000000e+00  00:00  01-01-2016  01-01-2016 00:00
9     01-01-2016 03:00  0.000000e+00  03:00  01-01-2016  01-01-2016 03:00
10    01-01-2016 06:00  0.000000e+00  06:00  01-01-2016  01-01-2016 06:00
11    01-01-2016 09:00  0.000000e+00  09:00  01-01-2016  01-01-2016 09:00
12    01-01-2016 12:00  0.000000e+00  12:00  01-01-2016  01-01-2016 12:00
13    01-01-2016 15:00  0.000000e+00  15:00  01-01-2016  01-01-2016 15:00
14    01-01-2016 18:00  0.000000e+00  18:00  01-01-2016  01-01-2016 18:00
15    01-01-2016 21:00  0.000000e+00  21:00  01-01-2016  01-01-2016 21:00
16    01-02-2016 00:00  0.000000e+00  00:00  01-02-2016  01-02-2016 00:00
17    01-02-2016 03:00  0.000000e+00  03:00  01-02-2016  01-02-2016 03:00
18    01-02-2016 06:00  0.000000e+00  06:00  01-02-2016  01-02-2016 06:00
19    01-02-2016 09:00  0.000000e+00  09:00  01-02-2016  01-02-2016 09:00
20    01-02-2016 12:00  0.000000e+00  12:00  01-02-2016  01-02-2016 12:00
21    01-02-2016 15:00  0.000000e+00  15:00  01-02-2016  01-02-2016 15:00
22    01-02-2016 18:00  0.000000e+00  18:00  01-02-2016  01-02-2016 18:00
23    01-02-2016 21:00  0.000000e+00  21:00  01-02-2016  01-02-2016 21:00
24    01-03-2016 00:00  0.000000e+00  00:00  01-03-2016  01-03-2016 00:00
25    01-03-2016 03:00  0.000000e+00  03:00  01-03-2016  01-03-2016 03:00
26    01-03-2016 06:00  0.000000e+00  06:00  01-03-2016  01-03-2016 06:00
27    01-03-2016 09:00  0.000000e+00  09:00  01-03-2016  01-03-2016 09:00
28    01-03-2016 12:00  0.000000e+00  12:00  01-03-2016  01-03-2016 12:00
29    01-03-2016 15:00  0.000000e+00  15:00  01-03-2016  01-03-2016 15:00
...                ...           ...    ...         ...               ...
8746   12/28/2018 6:00  0.000000e+00   6:00  12-28-2018   12-28-2018 6:00
8747   12/28/2018 9:00  0.000000e+00   9:00  12-28-2018   12-28-2018 9:00
8748  12/28/2018 12:00  0.000000e+00  12:00  12-28-2018  12-28-2018 12:00
8749  12/28/2018 15:00  0.000000e+00  15:00  12-28-2018  12-28-2018 15:00
8750  12/28/2018 18:00  0.000000e+00  18:00  12-28-2018  12-28-2018 18:00
8751  12/28/2018 21:00  0.000000e+00  21:00  12-28-2018  12-28-2018 21:00
8752   12/29/2018 0:00  0.000000e+00   0:00  12-29-2018   12-29-2018 0:00
8753   12/29/2018 3:00  0.000000e+00   3:00  12-29-2018   12-29-2018 3:00
8754   12/29/2018 6:00  0.000000e+00   6:00  12-29-2018   12-29-2018 6:00
8755   12/29/2018 9:00  0.000000e+00   9:00  12-29-2018   12-29-2018 9:00
8756  12/29/2018 12:00  0.000000e+00  12:00  12-29-2018  12-29-2018 12:00
8757  12/29/2018 15:00  0.000000e+00  15:00  12-29-2018  12-29-2018 15:00
8758  12/29/2018 18:00  0.000000e+00  18:00  12-29-2018  12-29-2018 18:00
8759  12/29/2018 21:00  0.000000e+00  21:00  12-29-2018  12-29-2018 21:00
8760   12/30/2018 0:00  0.000000e+00   0:00  12-30-2018   12-30-2018 0:00
8761   12/30/2018 3:00  0.000000e+00   3:00  12-30-2018   12-30-2018 3:00
8762   12/30/2018 6:00  0.000000e+00   6:00  12-30-2018   12-30-2018 6:00
8763   12/30/2018 9:00  1.190000e-07   9:00  12-30-2018   12-30-2018 9:00
8764  12/30/2018 12:00  3.800000e-08  12:00  12-30-2018  12-30-2018 12:00
8765  12/30/2018 15:00  0.000000e+00  15:00  12-30-2018  12-30-2018 15:00
8766  12/30/2018 18:00  0.000000e+00  18:00  12-30-2018  12-30-2018 18:00
8767  12/30/2018 21:00  0.000000e+00  21:00  12-30-2018  12-30-2018 21:00
8768   12/31/2018 0:00  0.000000e+00   0:00  12-31-2018   12-31-2018 0:00
8769   12/31/2018 3:00  0.000000e+00   3:00  12-31-2018   12-31-2018 3:00
8770   12/31/2018 6:00  0.000000e+00   6:00  12-31-2018   12-31-2018 6:00
8771   12/31/2018 9:00  0.000000e+00   9:00  12-31-2018   12-31-2018 9:00
8772  12/31/2018 12:00  0.000000e+00  12:00  12-31-2018  12-31-2018 12:00
8773  12/31/2018 15:00  0.000000e+00  15:00  12-31-2018  12-31-2018 15:00
8774  12/31/2018 18:00  0.000000e+00  18:00  12-31-2018  12-31-2018 18:00
8775  12/31/2018 21:00  0.000000e+00  21:00  12-31-2018  12-31-2018 21:00

[8776 rows x 5 columns]